# PostgreSQL
DB_HOST= 
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Naver OAuth
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# OAuth Redirect Base URL
OAUTH_REDIRECT_BASE_URL=

# Environment
ENVIRONMENT=
FRONTEND_URL=
FRONTEND_LOCAL_URL=

# 암호화
JWT_SECRET=
JWT_ALGORITHM=

DEBUG=

# 테스트용
test_portone_v2_api_secret=