@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css");
@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    max-width: 420px;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Pretendard", sans-serif;
    box-sizing: border-box;
    font-synthesis-weight: none;
  }
}

@theme {
  /* main & sub color */
  --color-main-normal: oklch(0.9098 0.236 131.12);
  --color-main-deep: oklch(0.7311 0.1852 130.73);
  --color-main-pale: oklch(0.9673 0.0809 126.53);
  --color-sub-orange: oklch(0.7516 0.1733 55.62);
  --color-sub-yellow: oklch(0.9075 0.1846 103.79);
  --color-sub-red: oklch(0.623 0.2165 31.29);

  /* custom white & black */
  --color-custom-white: oklch(0.9851 0 0);
  --color-custom-black: oklch(0.3211 0 0);

  /* rounded */
  --radius-sm: 8px;
  --radius: 10px;
  --radius-md: 12px;
  --radius-lg: 16px;

  --custom-shadow: 0 4px 12px oklch(0 0 0 / 0.12);
}

.titleFont {
  /* font-weight: 400; */
  font-size: 24px;
}

h1 {
  font-weight: 700;
  font-size: 20px;
}

h2 {
  /* font-weight: 400; */
  font-size: 18px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

.bodyFont {
  /* font-weight: 400; */
  font-size: 16px;
  letter-spacing: -0.02em;
}

.hintFont {
  /* font-weight: 400; */
  font-size: 14px;
}

.tagFont {
  /* font-weight: 400; */
  font-size: 12px;
}

.btnFont {
  font-weight: 700;
  font-size: 16px;
}

[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

[type="checkbox"]:checked {
  background-color: #7ebe27;
  border-color: #7ebe27;
}

[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.mySwiper {
  --swiper-pagination-color: #222222;
  --swiper-pagination-bullet-inactive-color: #bfbfbf;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-progressbar-size: 8px;
  --swiper-pagination-progressbar-bg-color: #d9d9d9;
}
