@import "tailwindcss";

@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css");

@theme {
  /* main & sub color */
  --color-main-normal: oklch(0.9098 0.236 131.12);
  --color-main-deep: oklch(0.7311 0.1852 130.73);
  --color-main-pale: oklch(0.9673 0.0809 126.53);
  --color-sub-orange: oklch(0.7516 0.1733 55.62);
  --color-sub-yellow: oklch(0.9075 0.1846 103.79);

  /* custom white & black */
  --color-custom-white: oklch(0.9851 0 0);
  --color-custom-black: oklch(0.3211 0 0);

  /* rounded */
  --radius-sm: 8px;
  --radius: 10px;
  --radius-md: 12px;
  --radius-lg: 16px;

  --custom-shadow: 0 4px 12px oklch(0 0 0 / 0.12);
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Pretendard", sans-serif;
    box-sizing: border-box;
    font-synthesis-weight: none;
  }
}

titleFont {
  font-weight: 400;
  font-size: 32px;
}

h1 {
  font-weight: 700;
  font-size: 27px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 21px;
}

bodyFont {
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -0.02em;
}

hintFont {
  font-weight: 400;
  font-size: 19px;
}

tagFont {
  font-weight: 400;
  font-size: 16px;
}

btnFont {
  font-weight: 700;
  font-size: 21px;
}

[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: #222222;
  appearance: none;
  border-radius: 50%;
  border: 1px solid #222222;
}

[type="checkbox"]:checked {
  background-color: #222222;
}

.mySwiper {
  --swiper-pagination-color: #222222;
  --swiper-pagination-bullet-inactive-color: #bfbfbf;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-progressbar-size: 8px;
  --swiper-pagination-progressbar-bg-color: #d9d9d9;
}
